.env
.env.local
.terraform
.terraform*
*.tfstate*
.DS_Store
**/.speakeasy/temp/
**/.speakeasy/logs/
./examples/tests/terraform.tf
**/service-account-key.json
examples/hello-world-examples/vars.tfvars
terraform-provider-seqera
terraform-provider-* # We should not include the provider binary in the repository
*.tfvars
!*.tfvars.example
*.code-workspace
settings.local.json
# LLMS
.claude
.agents
.codeium
.cursor
